body {
    background-color: #c0392b;
    font-family: "EB Garamond";

}


.nav {
    display: inline-block;
    float: left;
    width: 20%;
    padding-top: 50px;

}

.nav ul {
    list-style: none;
    padding: 10px;
}

.nav ul li {
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 34px;

}

.nav ul li a:active {
    color: #f1c40f;
}



.column {

    display: inline-block;
    float: left;
    width: 70%;


}

.column h1 {
    font-family: "Montserrat";
    text-align: justify;
    padding-left: 20px;
}

.column section {
    padding: 1em;
    column-count: 3;
    column-gap: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    text-align: justify;

}


.column section p span {
    float: left;
    font-size: 75px;
    line-height: 80%;
    padding: 4px 8px 0px 3px;

}

/*  MEDIA QUERIES   */


@media only screen and (max-width: 400px) {
    body {
        font-size: 16px;
    }
    .nav {
        padding-top: 0px;
        padding-left: 15px;
        margin: auto;
    }
    .nav ul {
        display: table-row;
    }
    .nav ul li {
        display: table-cell;
    }
    .nav ul li a {
        font-size: 18px;
    }
    .column {
        float: left;
        width: 100%;
    }

    .column h1 {
        padding-left: 0px;
        font-size: 20px;
    }
}
